<%= link_to 'Tables', root_path %>
<h1><%= @table_name %> <small><%= @all_count %> rows</small> </h1>
<div class="row tables-show">
  <div class="col-md-7">
    <table class="table table-condensed columns">
      <tr>
        <th><label><input type="checkbox"> * (all) </label></th>
        <!-- th>type</th -->
        <th>type_sql</th>
        <!-- th>limit</th -->
        <th>null</th>
        <th>default</th>
        <!-- th>human name </th -->
      </tr>
      <% @table[:columns].each do |col| %>
        <tr>
          <td class="column-name"><label><input type="checkbox" value="<%= col.name%>"> <%= col.name %></label></td>
          <!--td class="type"><%= col.type %></td -->
          <td class="sql-type"><%= col.sql_type %></td>
          <!-- td class="limit"><%= col.limit %></td -->
          <td class="null"><%= col.null %></td>
          <td class="defualt"><%= col.default %></td>
          <!-- td> <%= col.human_name %></td -->
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-5">
    <div class="btn-group">
      <button type="button" id="smallize-column-button" class="btn btn-default">omit long value</button>
      <button type="button" id="open-column-button" class="btn btn-default">not</button>
    </div>
    <div>
    </div>

    <h2>Where</h2>
    <div>
      SELECT 
      *
      FROM 
      <span id="table-name"><%= @table_name %></span>
      WHERE
      <textarea id="where" class="form-control where"></textarea>
      ORDER BY <span id="order">id DESC</span>
      LIMIT <span id="limit">100</span>
    </div>

    <h2>SQL</h2>
    <textarea id="sql" class="form-control sql"></textarea>

    <div class="text-right">
      <button class="btn btn-default btn-lg call-sql-button">Execute</button>
    </div>

    <div id="logs">koko</div>

  </div>

  <div id="result"></div>
</div>
