<%= link_to 'Tables', tables_path %>
<h1><%= @table_name %></h1>
<div class="row tables-show">
  <div class="col-md-7">
    <table class="table table-condensed columns">
      <tr>
        <th><label><input type="checkbox"> * (all) </label></th>
        <!-- th>type</th -->
        <th>type_sql</th>
        <!-- th>limit</th -->
        <th>null</th>
        <th>default</th>
        <!-- th>human name </th -->
      </tr>
      <% @table[:columns].each do |col| %>
        <tr>
          <td class="column-name"><label><input type="checkbox" value="<%= col.name%>"> <%= col.name %></label></td>
          <!--td class="type"><%= col.type %></td -->
          <td class="sql-type"><%= col.sql_type %></td>
          <!-- td class="limit"><%= col.limit %></td -->
          <td class="null"><%= col.null %></td>
          <td class="defualt"><%= col.default %></td>
          <!-- td> <%= col.human_name %></td -->
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-5">
    <div class="btn-group">
      <button type="button" id="smallize-column-button" class="btn btn-default">長いカラムを省略</button>
      <button type="button" id="open-column-button" class="btn btn-default">省略しない</button>
    </div>

    SELECT 
    ←
    FROM 
    <span id="table-name"><%= @table_name.underscore.pluralize %></span>
    WHERE
    <textarea id="where" class="form-control where"></textarea>
    ORDER BY <span id="order">id desc</span>
    LIMIT <span id="limit">100</span>

    <textarea id="sql" class="form-control sql"></textarea>

    <div class="text-right">
      <button class="btn btn-default call-sql-button">Execute</button>
    </div>

  </div>

  <div id="result"></div>
</div>
